<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>COMBAT</title>

</head>
<body style="background-color:#363832">
<main style="text-align: center; margin: 1em 0; color: wheat">

        <h1>Fight avec l'équipe {{ id_team }}</h1>
<div class="container">
    <div class="row">
        <div class="col-2">
            {% for pokemon in listpokemons.values %}
                <img src="{{ pokemon.pokemon.sprite }}" alt="{{ pokemon.pokemon.name }}" width=60px height=auto>
                <p>{{ pokemon.pokemon.name | capfirst }}</p>
                <p>{{ pokemon.hp }}</p>
            {% endfor %}
        </div>
        <div class="col-6">
            <img src="{{ listpokemonsIA.pokemonIA1.pokemon.sprite }}" width=120px height=auto>
            <p>{{ listpokemonsIA.pokemonIA1.pokemon.name }}</p>
            <img src="{{ listpokemons.pokemon1.pokemon.sprite }}" width=120px height=auto></img>
            <p>{{ listpokemons.pokemon1.pokemon.name }}</p>
            <a href="/fight/updateHPAttack?id={{ id }}&id_team={{ id_team }}&pokemon={{ selected }}&pokemonIa={{ selectedIA }}">Attaque</a>
            <a href="/fight/updateHPAttackSpe?id={{ id }}&id_team={{ id_team }}">Attaque spéciale</a>
        </div>
        <div class="col-2">
            {% for pokemonIA in listpokemonsIA.values %}
                <img src="{{ pokemonIA.pokemon.sprite }}" alt="{{ pokemonIA.pokemon.name }}" width=60px height=auto>
                <p>{{ pokemonIA.pokemon.name | capfirst }}</p>
                <p>{{ pokemonIA.hp }}</p>
            {% endfor %}
        </div>
    </div>
</div>
</main>
</body>
</html>