<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ pokemon.name | upper }}</title>

    <style>
        #teamTable > tr > td {
            background-color: bisque;
        }

        .selected {
            background-color: bisque;
            border-radius: 20px;
        }
    </style>

</head>
<body style="background-color:#363832">
<main style="text-align: center; margin: 1em 0; color: wheat">

    <h1>Edit</h1>
    <div class="container text-left">
        <a href="/fightHome/" type="button" class="btn"
           style="background-color: wheat; color:#363832; border-color: wheat">Retour</a>
    </div>

    <div class="d-flex w-100 justify-content-center">
        <table id="teamTable" class="w-25">
            <tr>
                <td class="{% if selected == "1" %} selected {% endif %}">
                    <a href="/editTeam?id={{ id }}&selected=1&name={% if name and name != "None" %}{{ name }}{% endif %}">
                        {% if team.pokemon1 %}
                            <img width="40" src="{{ team.pokemon1.sprite }}">
                            <p>{{ team.pokemon1.name }}</p>
                        {% else %}
                            <p>AUCUN</p>
                        {% endif %}
                    </a>
                </td>
                <td class="{% if selected == "2" %} selected {% endif %}">
                    <a href="/editTeam?id={{ id }}&selected=2&name={% if name and name != "None" %}{{ name }}{% endif %}">
                        {% if team.pokemon2 %}
                            <img width="40" src="{{ team.pokemon2.sprite }}">
                            <p>{{ team.pokemon2.name }}</p>
                        {% else %}
                            <p>AUCUN</p>
                        {% endif %}
                    </a>
                </td>
                <td class="{% if selected == "3" %} selected {% endif %}">
                    <a href="/editTeam?id={{ id }}&selected=3&name={% if name and name != "None" %}{{ name }}{% endif %}">
                        {% if team.pokemon3 %}
                            <img width="40" src="{{ team.pokemon3.sprite }}">
                            <p>{{ team.pokemon3.name }}</p>
                        {% else %}
                            <p>AUCUN</p>
                        {% endif %}
                    </a>
                </td>
            </tr>
            <tr>
                <td class="{% if selected == "4" %} selected {% endif %}">
                    <a href="/editTeam?id={{ id }}&selected=4&name={% if name and name != "None" %}{{ name }}{% endif %}">
                        {% if team.pokemon4 %}
                            <img width="40" src="{{ team.pokemon4.sprite }}">
                            <p>{{ team.pokemon4.name }}</p>
                        {% else %}
                            <p>AUCUN</p>
                        {% endif %}
                    </a>
                </td>
                <td class="{% if selected == "5" %} selected {% endif %}">
                    <a href="/editTeam?id={{ id }}&selected=5&name={% if name and name != "None" %}{{ name }}{% endif %}">
                        {% if team.pokemon5 %}
                            <img width="40" src="{{ team.pokemon5.sprite }}">
                            <p>{{ team.pokemon5.name }}</p>
                        {% else %}
                            <p>AUCUN</p>
                        {% endif %}
                    </a>
                </td>
                <td class="{% if selected == "6" %} selected {% endif %}">
                    <a href="/editTeam?id={{ id }}&selected=6&name={% if name and name != "None" %}{{ name }}{% endif %}">
                        {% if team.pokemon6 %}
                            <img width="40" src="{{ team.pokemon6.sprite }}">
                            <p>{{ team.pokemon6.name }}</p>
                        {% else %}
                            <p>AUCUN</p>
                        {% endif %}
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <form action="{% url "editTeam" %}" method="get">
        <input id="searchInput" type="text" name="name" value="{% if name != "None" and name %}{{ name }}{% endif %}">
        <input id="id" hidden type="text" name="id" value="{{ id }}">
        <input id="selected" hidden type="text" name="selected" value="{{ selected }}">
        <input type="submit" value="Search">
    </form>
    <div class="container mt-5">
        <div class="row">
            {% for pokemon in pokemons %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4 pokemonCard">
                    <img width="40" src="{{ pokemon.sprite }}">
                    <p class="pokemon">{{ pokemon.name }}</p>
                    <a href="/addToTeam/?id={{ id }}&selected={{ selected }}&pokemonId={{ pokemon.pokemonId }}&name={% if name != "None" and name %}{{ name }}{% endif %}" type="button" class="btn"
                       style="background-color: wheat; color:#363832; border-color: wheat">Choisir</a>
                </div>
            {% endfor %}
        </div>
    </div>

</main>
</body>
</html>